# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env*
!.env.example

# Vercel
.vercel
.vercel
nhl-api-proxy/nhl-api-proxy/.editorconfig
nhl-api-proxy/nhl-api-proxy/.prettierrc
nhl-api-proxy/nhl-api-proxy/package-lock.json
nhl-api-proxy/nhl-api-proxy/package.json
nhl-api-proxy/nhl-api-proxy/vitest.config.js
nhl-api-proxy/nhl-api-proxy/wrangler.toml
nhl-api-proxy/nhl-api-proxy/src/index.js
nhl-api-proxy/nhl-api-proxy/test/index.spec.js
nhl-api-proxy/nhl-api-proxy/.gitignore
